p {
     text-align: center;
 }

strong {
    color: white;
}

em {
    color: black;
}


.itens {
    font-style: italic
}

.beneficios{
    background: #8300E3;
    padding: 20px;
}

.principal{
    background: #8300E3;
    padding: 20px;
}

h1{
    text-align: center;
}

ol {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 15%;
}

.img.beneficios {
    width: 10%;
}
.casas ul{
    position: absolute;
    display: flex;
}
.casas  li{
    list-style: none;
}
.casas li a{
    display: inline-block;
    color: #8300E3;
    font-weight: 700;
    text-decoration: none;
    font-size: 19px;
    margin-right: 1200px;

}
