p {
     text-align: center;
 }

strong {
    color: white;
}

em {
    color: black;
}


.itens {
    font-style: italic
}

.beneficios{
    background: #8300E3;
    padding: 20px;
}

.principal{
    background: #8300E3;
    padding: 20px;
}

h1{
    text-align: center;
}

ol {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 15%;
}

.img.beneficios {
    width: 10%;
}
