
p {

     text-align: center;

 }

strong {

    color: rebeccapurple;

}

em {

    color: #B900FF;

}

#aprenda {

    font-size: 25px;

}

#logo4 {

    width: 100%;

}

#Designers {

    width: 30%;

}

#flyers {

    width: 30%;

}

#Panfletos {

    width: 30%;

}

#Gerenciamentos{

    width: 30%;

}

#Fotos {

    width: 24%;

}

.itens {

    font-style: italic

}

.beneficios{

    background: #8300E3;

    padding: 20px;

}

.principal{

    background: #ACACAC;

    padding: 10px;

}

h1{

    text-align: center;

}

ol {

    display: inline-block;

    vertical-align: top;

    width: 20%;

    margin-right: 15%;

}

.imgbeneficios {

    width: 50%;

}

