p {
     text-align: center;
 }

strong {
    color: white;
}

stroke {
    color: white;
    font-size: 15px;

}

em {
    color: #8300E3;
}


#aprenda {
    font-size: 25px;
   color: rebeccapurple;
}

#logo4 {
    width: 100%;
    


}

#Designers {
    width: 30%;
    border-radius: 4px;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    background: linear-gradient( #FFAA00, #00FF1F, #FF0000);

}

#flyers {
    width: 30%;
    border-radius: 4px;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    background: linear-gradient( #FFAA00, #00FF1F, #FF0000);

}

#Panfletos {
    width: 30%;
    border-radius: 4px;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    background: linear-gradient( #FFAA00, #00FF1F, #FF0000);
}

#Gerenciamentos{
    width: 30%;
    border-radius: 4px;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    background: linear-gradient( #FFAA00, #00FF1F, #FF0000);

}

#Fotos {
    width: 30%;
    border-radius: 4px;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    background: linear-gradient( #FFAA00, #00FF1F, #FF0000);

}

#insta {
    width: 5%;
}

.itens {
    font-style: italic
}

.beneficios{
    background: #8300E3;
    padding: 20px;
}

.principal{
    background: #8300E3;
    padding: 10px;
}

h1{
    text-align: center;
}

ol {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficio {
    width: 50%;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    margin: 0 auto;
    padding: 5px 5px;
    box-sizing: border-box;
    border-color: white;
}
